/*

    The following CSS codes are created by the YellowPencil plugin.
    https://yellowpencil.waspthemes.com/


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. "Home" Page
    03. "Thank you" Page
    04. "Header" Azh_widget

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body{
	background:#f7f9ff!important;
}

body iframe{
	margin: 20px auto;
	display: block;
	width: 50vw!important;
	height: 90vh!important;
	background: #fff;
}

body .az-container p iframe{
	-webkit-box-shadow:2.5px 4.32px 30px 0px rgba(64,87,191,0.1);	box-shadow:2.5px 4.32px 30px 0px rgba(64,87,191,0.1);
}

body input, body textarea{
	-webkit-box-shadow: none!important;	box-shadow: none!important;
	border: solid 1px #6278df!important;
}

body .azen-elastic-contact-form .azen-button .az-contenteditable{
	background-color:#6278df;
}

@media (max-width:1102px){

	body iframe{
	width: 60vw!important;
	}

}



@media (max-width:900px){

	body iframe{
	width: 80vw!important;
	}

}



@media (max-width:680px){

	body iframe{
	width: 94vw!important;
	}

}



/*-----------------------------------------------*/
/*  "Home" Page                                  */
/*-----------------------------------------------*/
body.page-id-786 .azen-elastic-feature-4 .step{
	text-align: center!important;
}

body.page-id-786 .azen-elastic-feature-4 .azen-general .step .step-digit{
	display: inline-block!important;
	border-radius: 50%!important;
	width: 36px!important;
	height: 36px!important;
	padding: 8px!important;
	background: #fff!important;
	border: 1px solid #707f92!important;
	text-align: center!important;
	font: 32px Arial, sans-serif!important;
}

body.page-id-786 .azen-elastic-feature-4 .azen-general .step{
	margin-bottom:38px !important;
}

body.page-id-786 .az-splitted-section .az-text span{
	color:#707f92;
}

body.page-id-786 .azen-elastic-testimonials div .azen-image{
	background-size: contain!important;
	width:80px !important;
	height:80px !important;
	margin-right: 0!important;
	margin-left: 10px!important;
	margin-top: 21px!important;
	background-repeat: no-repeat!important;
}

body.page-id-786 .azen-elastic-testimonials div .clubsrc-profile-container{
	background-color:#2fb5de !important;
	border-radius: 100%!important;
	height: 100px!important;
	width: 100px!important;
	display: inline-block!important;
	-ms-flex-negative: 0!important;	flex-shrink: 0!important;
	margin-right: 18px!important;
}

body.page-id-786 .azen-elastic-testimonials div a{
	margin-top:10px !important;
}

body.page-id-786 .azen-elastic-button a .azen-image{
	position:absolute !important;
	left:-10px !important;
	-webkit-transform:translatex(0px) translatey(0px) !important;	-ms-transform:translatex(0px) translatey(0px) !important;	transform:translatex(0px) translatey(0px) !important;
	width:50px !important;
	height:50px !important;
	top:-18px !important;
}

body.page-id-786 .azen-elastic-feature-4 .azen-general .azen-title{
	font-style:normal;
	font-weight:300 !important;
	color:#717794 !important;
}

body.page-id-786 .azen-elastic-feature-2 .azen-general .azen-text{
	color:#717794;
}

body.page-id-786 .azen-background-inverted > .azh-row > .az-elements-list > div > .az-text{
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
}

body.page-id-786 .azen-elastic-feature-2 .azen-icon .az-icon{
	color:#6278df !important;
}

body.page-id-786 .az-container .azen-element:nth-child(3) .step-digit{
	-webkit-transform:translatex(0px) translatey(0px) !important;	-ms-transform:translatex(0px) translatey(0px) !important;	transform:translatex(0px) translatey(0px) !important;
	border-width: 3px!important;
}

body.page-id-786 .az-container .azen-element:nth-child(2) .step-digit{
	color:#e91e63 !important;
	border-color:#f5bdaa;
	-webkit-transform:translatex(0px) translatey(0px) !important;	-ms-transform:translatex(0px) translatey(0px) !important;	transform:translatex(0px) translatey(0px) !important;
	border-width: 3px!important;
}

body.page-id-786 .az-container .azen-element:nth-child(1) .step-digit{
	-webkit-transform:translatex(0px) translatey(0px) !important;	-ms-transform:translatex(0px) translatey(0px) !important;	transform:translatex(0px) translatey(0px) !important;
	border-width: 3px!important;
}

body.page-id-786 .azen-elastic-feature-2 .ti-thought span{
	color:#4caf50 !important;
}

body.page-id-786 .azen-elastic-feature-4 .azen-icon .ti-star{
	color:#ffc107 !important;
}

body.page-id-786 .azen-elastic-feature-4 .azen-icon .ti-search{
	color:#f5bdaa !important;
}

body.page-id-786 .azen-elastic-feature-4 .azen-icon .ti-id-badge{
	color:#91d0fa !important;
}

body.page-id-786 .az-container .azen-element:nth-child(3) .az-icon{
	color:#ecd078 !important;
}

body.page-id-786 .az-container div .azen-elastic a{
	color:#ffffff!important;
}

body.page-id-786 .az-container div .azen-elastic .az-text{
	color:#FFFFFF!important;
}

body.page-id-786 .azen-testimonial .az-contenteditable{
	font-size:18px!important;
}

body.page-id-786 .azen-elastic-background-inverted .azh-row .az-elements-list div .az-text{
	color:#ffffff;
}

body.page-id-786 .az-container div .azen-elastic-social-links{
	color:#ffffff !important;
}

body.page-id-786 .azen-elastic-background-inverted .azh-row .az-elements-list div .azen *{
	color:#ffffff;
}

body.page-id-786 .azen-elastic-border-body-alpha-color .az-splitted-section .az-background-column{
	background-size:130%;
	z-index: 10000;
	background-position-x:30px !important;
	background-position-y:100%;
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
}

body.page-id-786 .az-container div .az-background-column{
	background-image:url("http://clubsrc.com/wp-content/uploads/2021/12/699FE85C-5FCA-405E-B08D-31A99ACE760A.png") !important;
}

body.page-id-786 .az-splitted-section a .az-contenteditable:nth-child(3){

	display:none!important;
}

body.page-id-786 .azen-elastic-horizontal-elements{
	padding:20px 0!important;
	-webkit-box-pack: flex-start!important;	-ms-flex-pack: flex-start!important;	justify-content: flex-start!important;
}

body.page-id-786 .azen-elastic-horizontal-elements > div{
	display:inline-block!important;
}

body.page-id-786 .az-container div .azen-background-inverted .azh-row .az-elements-list div .azen .azen-elastic-feature-4 .azen-general .azen-element .step span{
	color:#f5bdaa !important;
	border-color:#f5bdaa !important;
}

body.page-id-786 .az-container div .azen-background-inverted .azh-row .az-elements-list div .azen .azen-elastic-feature-4 .azen-general .azen-element:nth-child(1) .step .step-digit{
	color:#91d0fa !important;
	border-color:#91d0fa !important;
}

body.page-id-786 .az-container div .azen-background-inverted .azh-row .az-elements-list div .azen .azen-elastic-feature-4 .azen-general .azen-element:nth-child(3) .step .step-digit{
	color:#ecd078 !important;
	border-color:#ecd078 !important;
}

body.page-id-786 .azen-menu-wrapper .azen-button a{
	color:#6278df;
}

body.page-id-786 .az-container div .azen-elastic-border-color .azh-row .az-elements-list div .azen .azen-elastic-testimonials div:nth-child(1) .azen-elastic-testimonial-text .azen-elastic-author .clubsrc-profile-container .azen-elastic-testimonials div .azen-text{
	display:-webkit-box!important;	display:-webkit-flex!important;	display:-ms-flexbox!important;	display:flex!important;
	-webkit-box-orient: column!important;	-webkit-box-direction: column!important;	-ms-flex-direction: column!important;	flex-direction: column!important;
	height: 100%!important;
	-webkit-box-pack: flex-start!important;	-ms-flex-pack: flex-start!important;	justify-content: flex-start!important;
}

body.page-id-786 .azen-elastic-testimonials div .azen-elastic-testimonial-text{
	height: 100%!important;
}

body.page-id-786 .azen-elastic-testimonials div .azen-elastic-author{
	height: 100%!important;
}

body.page-id-786 .azen-elastic-testimonials div .azen-title{
	height: 100%!important;
}

body.page-id-786 .azen-elastic-panel div .azen-image{
	width:50px !important;
	height:50px !important;
	padding-left:0px;
	margin-left:10px !important;
	margin-right:10px !important;
	margin-top:10px !important;
	background-image:url("http://clubsrc.com/wp-content/uploads/2021/12/6723BCE1-040C-411A-A694-BA5C474859C7.jpeg") !important;
}

body.page-id-786 .azen-elastic-panel div .azen-name{
	font-size:14px !important;
}

body.page-id-786 .azen-elastic-panel div .azen-text{
	display:-webkit-box!important;	display:-webkit-flex!important;	display:-ms-flexbox!important;	display:flex!important;
	-webkit-box-orient: column!important;	-webkit-box-direction: column!important;	-ms-flex-direction: column!important;	flex-direction: column!important;
}

body.page-id-786 .azen-elastic-panel div .azen-general{
	text-align:center !important;
}

body.page-id-786 .azen-elastic-panel .az-element-wrapper .azen{
	display:-webkit-box!important;	display:-webkit-flex!important;	display:-ms-flexbox!important;	display:flex!important;
	-webkit-box-pack: center;	-ms-flex-pack: center;	justify-content: center;
}

body.page-id-786 .azen-elastic-panel div .azen-elastic-author{
	margin: 0 auto!important;
	display:-webkit-box!important;	display:-webkit-flex!important;	display:-ms-flexbox!important;	display:flex!important;
	margin-left:0px !important;
	margin-right:0px !important;
	margin-top:12px !important;
}

body.page-id-786 .az-container div .azen-elastic-border-color .azh-row .az-elements-list div .azen .azen-elastic-testimonials div .azen-elastic-testimonial-text .azen-elastic-author .clubsrc-profile-container .azen-image{
	background-image:none !important;
}

@media (max-width:767px){

	body.page-id-786 .az-container div:nth-child(9) .azh-row{
	-webkit-box-flex:1;	-ms-flex:1;	flex:1;
	-webkit-box-orient: column-reverse;	-webkit-box-direction: column-reverse;	-ms-flex-direction: column-reverse;	flex-direction: column-reverse;
	}

}



@media (min-width:1400px){

	body.page-id-786 .az-container{
	max-width: 1070px!important;
	}

}



/*-----------------------------------------------*/
/*  "Thank you" Page                             */
/*-----------------------------------------------*/
body.page-id-5384 .az-container div .azen-elastic{
	background-color:#232323;
	color:#ffffff;
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
}

body.page-id-5384 .azen-elastic .azen .az-contenteditable{
	color:#ffffff !important;
}

body.page-id-5384 .az-container div .azen-elastic-background-inverted{
	background-color:#232323;
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
}

body.page-id-5384 .azen-elastic-social-links a .fa-instagram{
	color:#ffffff;
}

body.page-id-5384 .azen-elastic-background-inverted .azh-row .az-elements-list > div{
	color:#ffffff;
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
}

body.page-id-5384 .azen-elastic-background-inverted div a{
	color:#ffffff !important;
}

body.page-id-5384 .azen-elastic-background-inverted div .az-text{
	color:#ffffff;
}

body.page-id-5384 .clubsrc-content{
	height: calc(100vh - 80px);
}



/*-----------------------------------------------*/
/*  "Header" Azh_widget                          */
/*-----------------------------------------------*/
body.postid-6 .azen-nav-menu .azen-menu-item a{
	color: #fff!important;
}